<h1> Hello edit</h1>

<h2> I should be showing an editing form </h2>

<div ng-controller="updateCtrl" ng-submit="editPost()">
<form method="post">
<input type="text" ng-model="post.name" name="postName" placeholder="Name"/>
<br />
<input type="text" ng-model="post.age" name="postAge" placeholder="Age"/>
<br />
<input type="text" ng-model="post.occupation" name="postOccupation" placeholder="Occupation"/>
<br />
<input type="submit">

</form>
<button ng-click="deletePost()">Delete Post</button>
</div>